<div class="text-center mt-4 py-5 bg-dark text-white view">
  <h3 class="mt-5">FALE CONOSCO</h3>
  <div class="py-3">
    <h4 class="subtitulo">Endereço</h4>
    <p class="mx-5">
      <i class="bi bi-geo-alt text-white"></i>
      Alameda Araguaia, 2044, Torre I, Sala 1409, Alphaville Empresarial,
      Barueri - SP, CEP
    </p>
  </div>
  <div class="py-3">
    <h4 class="subtitulo">E-mail</h4>
    <p>
      <i class="bi bi-envelope-at text-white"></i> kaioleal@adv.oabsp.org.br
    </p>
  </div>
  <div class="py-3">
    <h4 class="subtitulo">Telefone</h4>
    <p><i class="bi bi-whatsapp text-white"></i> (11) 95555-5555</p>
  </div>
</div>
