<div class="text-center mx-0 my-0 bg-secondary-subtle px-auto py-5 view">
  <h2 class="py-3 my-4">Sobre Nós</h2>
  <p class="py-0 px-2 fs-3 mx-4">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus
    accusantium modi, odio velit porro libero optio sint voluptas reiciendis
    consequatur aperiam ullam dolorum commodi ipsam facere veritatis esse rerum
    deleniti. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi
    suscipit excepturi minus eius quam alias ut aliquam neque expedita
    voluptate, rerum, impedit officiis similique architecto praesentium,
    quisquam exercitationem distinctio repellendus.
  </p>
</div>
