<div class="background">
  <nav class="navbar fixed-top navbar-expand-sm navbar-dark background py-3">
    <div class="container-fluid">
      <a class="navbar-brand text-light" href="#">Leal Advogados</a>
      <button
        class="navbar-toggler text-light"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon text-light"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-light" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" routerLink="/sobre">Sobre Nós</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" routerLink="/areas"
              >Áreas de Atuação</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" routerLink="/contato">Contato</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
